astroid
beautifulsoup4
bs4
certifi
chardet
coverage
EasyProcess
idna
isort
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
nessrest
olefile
Pillow
pkg-resources
py
pylint
PySocks
pytest
pytest-cov
python-owasp-zap-v2.4
PyVirtualDisplay
PyYAML
requests
selenium
six
urllib3
wrapt
