certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
idna==2.6
nessrest==0.40
olefile==0.44
Pillow==4.3.0
pkg-resources==0.0.0
py==1.4.34
pytest==3.2.3
pytest-cov==2.5.1
python-owasp-zap-v2.4==0.0.12
requests==2.18.4
selenium==3.6.0
six==1.11.0
urllib3==1.22
