<html>
<head>
<title>Output from {{command_name}}</title>
<style>
body {
    background: black;
    color: white;
    min-height: 600px;
}
p.command {
    font-family: "monospace";
    font-size: 12px;
    color: white;
}
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
</style>
</head>
<body>
<div>
<p class="command"><b>{{ command }}</b></p>
<p class="command">
{% for line in lines %}
    {{ line|safe }}<br>
{% endfor %}
</p>
</div>
</body>
</html>
